{% extends 'layout.html' %}
{% block link %}
<!--引入wangEditor.css-->
<link rel="stylesheet" type="text/css" href="/node_modules/wangeditor/dist/css/wangEditor.min.css">
<!--引入jquery和wangEditor.js-->   <!--注意：javascript必须放在body最后，否则可能会出现问题-->
<script type="text/javascript" src="/node_modules/wangeditor/dist/js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/node_modules/wangeditor/dist/js/wangEditor.min.js"></script>
{% endblock %}
{% block title %}主页{% endblock %}

{% block body %}
<div id="editor">
  <p>请输入内容...</p>
</div>


<!--这里引用jquery和wangEditor.js-->
<script type="text/javascript">
    var editor = new wangEditor('editor');
    editor.create();
</script>
{% endblock %}

